@3-sidebar a {
    font-family: "Roboto", sans-serif
}

input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid red;
    box-sizing: border-box;
    border-radius: 8px;
}

@button {
    border-radius: 8px;
}

@body, h1, h2, h3, h4, h5, h6, .w3-wide { font-family: "Montserrat", sans-serif; color: #B22222 }